<img class="co-icon"
  *ngIf="type == 'horizontal' && color == 'standard'"
  src="../../../assets/icons/conviver_logo-horizontal.svg" alt="Conviver">

 <img class="co-icon"
  *ngIf="type == 'horizontal' && color == 'white'"
  src="../../../assets/icons/conviver_logo-horizontal-white.svg" alt="Conviver">

<img class="co-icon"
  *ngIf="type == 'horizontal' && color == 'grey'"
  src="../../../assets/icons/conviver_logo-horizontal-grey.svg" alt="Conviver">
  
<img class="co-icon"
  *ngIf="type == 'vertical' && color == 'standard'"
  src="../../../assets/icons/conviver_logo-vertical.svg" alt="Conviver">

<img class="co-icon"
  *ngIf="type == 'vertical' && color == 'white'"
  src="../../../assets/icons/conviver_logo-vertical-white.svg" alt="Conviver">

<img class="co-icon"
  *ngIf="type == 'vertical' && color == 'grey'"
  src="../../../assets/icons/conviver_logo-vertical-grey.svg" alt="Conviver">