@import '../../../assets/sass-utils/mixins.scss';

.co-card-announce {

    &__content { 
        @include flexbox(flex, center, center);
        flex-direction: column;

        &__description {
            margin-bottom: 20px;
            text-align: center;
        }
    }
}
