@import '../../../assets/sass-utils/mixins.scss';

.co-registration-prefs {
  @include flexbox(flex, center, center);
  flex-wrap: wrap;
  height: 260px;
  width: 100%;

  & * {

    &:last-child {
      align-self: flex-end;
    }
  }

  &__list {
    @include flexbox(flex, space-between, center);
    flex-wrap: wrap;
    width: 100%;
  }

  @include mqMaxWidth('sm') {
    height: auto;  
  }
}