<div class="terms">
<h1> Termos de Uso </h1>

<div>Bem-vindos ao Conviver. Nossos termos de uso estão disponíveis em nosso site e você pode acessá-los a qualquer momento. O Conviver, até o momento
é uma plataforma criada somente para fins acadêmicos na disciplina de Projeto Integrado 4, no curso de Design Digital da Universidade Federal do 
Ceará - Campus Quixadá.
</div>

<h2>1. Aceitação aos Termos de Uso</h2>

<b>1.1.</b> Ao aceitar esses termos de uso você fica ciente de que a plataforma não tem previsão de lançamento, podendo nunca ser lançada, e que seus dados
foram coletados para somente para comprovar que existe interesse mercadológico.

<h2>2. Informações Públicas e Privadas</h2>

<b>2.1</b> Seus dados não serão divulgados, bem como sua identificação, e-mail e senha, sendo restrigidos somente para uso acadêmico da equipe do projeto

<h2>3. Garantias e Responsabilidade</h2>

<b>3.1</b> Não garantimos a continuidade da implementação da plataforma e nem nos responsabilizamos em entrar em contato com você através do e-mail
cadastrado

<h2>4. Disposições gerais </h2>

<b>4.1</b> Estes Termos de Uso publicado no nosso website, constituem o acordo integral entre as Partes com relação ao objeto em questão, e substituem
todos os acordos anteriores, escritos ou verbais.

</div>