@import '../../../assets/sass-utils/variables.scss';

.co-advertisement-additional-info {
    width: 260px;
    height: 16px;
    font-size: $font-size-extra-small;
    line-height: 1.25;
    color: #858585;
}