@import '../../../../assets/sass-utils/variables.scss';

.co-page-title {
  font-family: $page-title-font-family;
  font-size: $page-title-font-size;
  color: $page-title-color;
  margin-bottom: 5px;
}