@import '../../../../assets/sass-utils/mixins.scss';

.co-registration-photo {
  @include flexbox(flex, center, center);
  flex-wrap: wrap;
  height: 260px;
  width: 100%;

  & * {

    &:last-child {
      align-self: flex-end;
    }
  }

  &__inputs {
    @include flexbox(flex, center, center);
 //   flex-wrap: wrap;
    width: 100%;

    & * {
      width: 50%;
      margin-bottom: 20px;
    }
  }

}