<div class="co-registration-prefs">
    <div class="co-registration-prefs__list">
      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>
  
      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>  

    <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>
  
      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>

      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>

      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>

      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>

      <co-selectable-item 
        [size]="'small'" 
        [icon]="'house'" 
        [title]="'Casa'" 
        [hoverMessage]="'Grande ou pequena, sempre há espaço para novas amizades.'">
      </co-selectable-item>
    </div>
    
    <co-paging-buttons [back]="true" [next]="true" [done]="false"></co-paging-buttons>
  
  </div>