<div class="co-advertisement-float-card">
  <co-card>
    <div class="co-advertisement-float-card__price">
      <co-price [price]="price" [size]="'big'"></co-price><span>por mês</span>
    </div>
    <div class="co-advertisement-float-card__address">{{address}}</div>
    <div class="co-advertisement-float-card__features">
      <div class="co-advertisement-float-card__features__title">Caracteristicas:</div>
      <co-illustration-item [item]="propertyType" [size]="'extra-small'"></co-illustration-item>
      <co-illustration-item [icon]="'man-and-girl'" [item]="numberOfResidents + ' moradores'" [size]="'extra-small'"></co-illustration-item>
      <co-illustration-item [icon]="'man-and-girl'" [item]="numberOfPlaces + ' vagas'" [size]="'extra-small'"></co-illustration-item>
      <co-illustration-item-list [itemsList]="restrictions" [size]="'extra-small'"></co-illustration-item-list>
    </div>
    <div class="co-advertisement-float-card__rate">
      <div class="co-advertisement-float-card__rate__title">Avaliação:</div>
      <co-rate [rate]="rate" [readOnly]="true"></co-rate>
      <div class="co-advertisement-float-card__rate__description">
        As avaliações e comentários de um imóvel são restritos apenas à antigos e atuais moradores do mesmo.
      </div>
    </div>
    <co-divider></co-divider>
    <div class="co-advertisement-float-card__interested-button" *ngIf="!myAd">
      <co-button [title]="'Tenho interesse'"></co-button>
    </div>
    <div class="co-advertisement-float-card__edit-button" *ngIf="myAd">
        <co-button [title]="'Editar Anúncio'"></co-button>
    </div>
    <div class="co-advertisement-float-card__message-button" (click)="toggleModal()" *ngIf="!myAd">
      <co-button [title]="'Enviar mensagem'" [icon]="'message'" [type]="'secondary'"></co-button>
    </div>
    <div class="co-advertisement-float-card__delete-button" *ngIf="myAd">
        <co-button [title]="'Excluir'" [icon]="'delete'" [type]="'secondary'"></co-button>
    </div>
  </co-card>
</div>

<div *ngIf="isOpen" class="message-modal--overlay">
  <div class="message-modal">
    <header class="message-modal__header">
      <div class="message-modal__header__title">Enviar mensagem</div>
      <div class="message-modal__header__close-button">
        <co-rounded-button [icon]="'close'" (click)="toggleModal()"></co-rounded-button>
      </div>
    </header>
    <div class="message-modal__textarea">
      <co-textarea
        [placeholder]="'Aproveite este espaço para tirar dúvidas sobre o imóvel...'"
        [rows]="4"
        [error]="description == ''">
      </co-textarea>
    </div>
    <div class="message-modal__button">
      <co-button [title]="'Enviar Mensagem'" (click)="toggleModal()"></co-button>
    </div>
  </div>
</div>


<div class="co-advertisement-float-card--mobile">
  <div class="co-advertisement-float-card--mobile__price">
    <co-price [price]="price" [size]="'big'"></co-price><span>por mês</span>
  </div>
  <div class="co-advertisement-float-card--mobile__rounded-message-button" *ngIf="!myAd">
    <co-rounded-button [icon]="'message'"></co-rounded-button>
  </div>
  <div class="co-advertisement-float-card--mobile__rounded-message-button" *ngIf="myAd">
      <co-rounded-button [icon]="'delete'"></co-rounded-button>
  </div>
  <div class="co-advertisement-float-card--mobile__interested-button" *ngIf="!myAd">
    <co-button [title]="'Tenho interesse'"></co-button>
  </div>
  <div class="co-advertisement-float-card--mobile__interested-button" *ngIf="myAd">
      <co-button [title]="'Editar Anúncio'"></co-button>
    </div>
  <div class="co-advertisement-float-card--mobile__message-button" *ngIf="!myAd">
    <co-button [title]="'Enviar mensagem'" [icon]="'message'" [type]="'secondary'"></co-button>
  </div>
  <div class="co-advertisement-float-card--mobile__message-button" *ngIf="myAd">
      <co-button [title]="'Excluir'" [icon]="'delete'" [type]="'secondary'"></co-button>
  </div>
</div>