@import '../../../../assets/sass-utils/mixins.scss';

.co-advertisement-float-card {
    width: 332px;
    position: fixed;
    top: 110px;
    margin-left: 548px;

    &__price {
        margin-bottom: 5px;
        @include flexbox(flex, initial, baseline);

        span {
            margin-left: 5px;
            font-size: $font-size-extra-small;
            font-family: $price-font-family;
            color: $black;
        }
    }

    &__address {
        font-size: $common-text-font-size;
        font-family: $font-medium;
        margin-bottom: 10px;
    }

    &__rate {
        &__title {
            font-size: $section-title-font-size;
            font-family: $font-medium;
        }

        &__description {
            margin-top: 5px;
            font-size: $font-size-super-small;
        }
    }

    &__message-button {
        margin-top: 10px;
        padding: 0 64px;
    }
}