<div class="co-advertisement-float-card">
  <co-card>
    <div class="co-advertisement-float-card__price">
      <co-price [price]="price" [size]="'big'"></co-price><span>por mês</span>
    </div>
    <div class="co-advertisement-float-card__address">{{address}}</div>
    <div class="co-advertisement-float-card__features">
      <co-illustration-item-list [itemsList]="features"></co-illustration-item-list>
    </div>
    <div class="co-advertisement-float-card__rate">
      <div class="co-advertisement-float-card__rate__title">Avaliação:</div>
      <co-rate [rate]="rate" [readOnly]="true"></co-rate>
      <div class="co-advertisement-float-card__rate__description">
        As avaliações e comentários de um imóvel são restritos apenas à antigos e atuais moradores do mesmo.
      </div>
    </div>
    <co-divider></co-divider>
    <div class="co-advertisement-float-card__interested-button">
      <co-button [title]="'Tenho interesse'"></co-button>
    </div>
    <div class="co-advertisement-float-card__message-button">
      <co-button [title]="'Enviar mensagem'" [icon]="'message'" [type]="'secondary'"></co-button>
    </div>
  </co-card>
</div>