@import '../../../../assets/sass-utils/variables.scss';
@import '../../../../assets/sass-utils/mixins.scss';

.co-illustration-item {
    width: 100px;
    height: 78.5px;
    margin: 5px;
    @include flexbox(inline-flex, center, center, column);

    &__icon {
        max-height: 60px;
    }

    &__title{
        font-family: $title-illustration-font-family;
        font-size: $title-illustration-item-font-size;
    }
}

