<div class="co-login-card">
  <co-logo [type]="'vertical'" [color]="'default'" [width]="'100'" class="co-login-card__logo"></co-logo>
  <co-social-button [socialNetwork]="'Google'" [fullWidth]="true"></co-social-button>
  <co-social-button [socialNetwork]="'Facebook'" [fullWidth]="true"></co-social-button>

  <co-divider [context]="'login'"></co-divider>
  <co-input [placeholder]="'Digite seu e-mail'" [type]="'text'"></co-input>
  <co-input [placeholder]="'Digite sua senha'" [type]="'password'"></co-input>
  <div class="co-login-card__recover-password">
    <a routerLink="recovery">Esqueceu a Senha?</a>
  </div>

  <co-button [title]="'Entrar'" [fullWidth]="true"></co-button>

  <div class="co-login-card__register">
    Não possui conta? <a routerLink="recovery">Registre-se</a>
  </div>
</div>