@import '../../../assets/sass-utils/mixins.scss';
@import '../../../assets/sass-utils/variables.scss';

.co-login-card {
  @include flexbox(flex, center, center);
  flex-wrap: wrap;
  padding: 30px;
  width: 350px;
  height: 590px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
  background: $background-color;
  border-radius: 6px;

  & * {
    flex-basis: 100%;
  }

  &__logo {
    margin: 0 0 15px 0;
  }

  &__recover-password {
    font: $font-size-extra-small $font-regular;
    text-align: right;

    & a {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__register {
    font: $font-size-small $font-regular;
    color: $text-default-color;
    margin: 10px 0 20px;

    & a {
      text-decoration: none;
      color: $link-color;
      text-transform: uppercase;
      font-weight: bold;
    }

    & a:hover {
      color: $link-hover-color;
    }
  }

  @include mqMaxWidth('sm') {
    padding: 15px;
    box-shadow: none;
    border-radius: 0px;
    width: 100vw;
    min-height: 100vh;
  }
}