@import '../../../../assets/sass-utils/variables.scss';

.co-registration-title {
  font-family: $page-title-font-family;
  font-size: $title-font-size;
  color: $page-title-color;
  margin-bottom: 5px;

  &__divider {
    width: 80px;
    height: 3px;
    background-color: $registration-divider-color;
    margin: 15px auto;
  }
}