@import '../../../assets/sass-utils/mixins.scss';

.search-page {
    padding-top: 40px;

    &__header {
        display: flex;
        margin-bottom: 20px;

        &__search-bar {
            flex-grow: 1;
            margin-right: 15px;
        }
    }

    &__loading {
        height: calc(100vh - 170px);
        width: 100%;
        @include flexbox(flex, center, center);
    }

    &__results-list {
        margin: 40px 0;
    }
}