<div class="co-message-item">
  <div class="co-message-item__avatar">
    <co-avatar
      [photo]="'assets/images/logo--profile.png'"
      [genre]="'male'"
      [size]="'small'">
    </co-avatar>
  </div>
  <div class="co-message-item__content">
    <div class="co-message-item__content__user-and-date">
      <span class="co-message-item__content__user-and-date__user-name">Conviver</span>
      <span class="co-message-item__content__user-and-date__date">02 de Nov</span>
    </div>
    <div class="co-message-item__content__message-preview">
      Bem-vindo ao Conviver. Somos a plataforma ideal para te ajudar a encontrar seu novo lar
      ou uma pessoa para dividir as despesas com você. Qualquer dúvida, estamos a disposição para te ajudar.
      Te desejamos uma ótima experiência!
    </div>
  </div>
</div>