<div class="co-message-item">
  <div class="co-message-item__avatar">
    <co-avatar
      [photo]=""
      [genre]="'male'"
      [size]="'small'">
    </co-avatar>
  </div>
  <div class="co-message-item__content">
    <div class="co-message-item__content__user-and-date">
      <span class="co-message-item__content__user-and-date__user-name">Caíque Araújo</span>
      <span class="co-message-item__content__user-and-date__date">02 de Nov</span>
    </div>
    <div class="co-message-item__content__message-preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatum vitae unde ab illo, similique quisquam est, iure obcaecati facilis in rerum deleniti? Nisi odio perferendis eius veniam, ipsa recusandae.</div>
  </div>
</div>