<header class="co-main-header">
  <div class="co-main-header__container container">
    <div class="co-main-header__container__mobile-menu-button">
      <co-mobile-menu-button (click)="openMenuMobile()"></co-mobile-menu-button>
    </div>
    <co-logo [type]="'horizontal'" [color]="'white'" [width]="'125'"> </co-logo>
    <div class="co-main-header__container__menu">
      <co-menu-items [items]="menuMainItems"></co-menu-items>
      <div class="co-main-header__container__menu__avatar" (mouseover)="hover=true" (mouseleave)="hover=false">
        <co-avatar
          [size]="'small'"
          [photo]="user.photo"
          [genre]="user.genre">
        </co-avatar>

        <div 
          class="co-main-header__container__menu__dropdown" 
          [ngStyle]="{ 
            visibility: hover == true  ? 'visible' : 'hidden', 
            opacity: hover == true ? '1' : '0' 
          }">
                                                                          
          <co-mobile-menu-item-list [items]="menuOtherItems" [isDropdown]=true></co-mobile-menu-item-list>
        </div>
      </div>
    </div>

    <div class="co-main-header__container__notification-button">
      <co-notification-button [withNotification]="false"></co-notification-button>
    </div>
  </div>

  <nz-drawer class="co-main-header__menu-mobile" [nzClosable]="false" [nzVisible]="menuMobileOpen" [nzPlacement]="'left'" (nzOnClose)="closeMenuMobile()">
    <co-mobile-menu-user [user]="user"></co-mobile-menu-user>
    <co-mobile-menu-item-list [items]="menuMainItems"></co-mobile-menu-item-list>
    <div class="co-main-header__menu-mobile__divider-container">
      <co-divider></co-divider>
    </div>
    <co-mobile-menu-item-list [items]="menuOtherItems"></co-mobile-menu-item-list>
  </nz-drawer>

</header>