@import '../../../../assets/sass-utils/variables.scss';

.co-advertisement-additional-info {
    font-family: $advertisement-additional-info-font-family;
    font-size: $advertisement-additional-info-font-size;
    color: $advertisement-additional-info-text-color;
    margin: 5px 0;
}