@import '../../../assets/sass-utils/mixins.scss';
@import '../../../assets/sass-utils/variables.scss';

.co-establishment-item {
    @include flexbox(flex, center, center);
    flex-direction: column;
    color: $establishment-item-color;

    &__name {
        font: $font-size-small $title-illustration-font-family;
    }

    &__description, &__distance {
        font: $font-size-small $common-text-font-family;
    }

    &__icon {
        padding: 20px;
    }

    &:hover {
        cursor: pointer;
    }
}