@import '../../../../assets/sass-utils/mixins.scss';
@import '../../../../assets/sass-utils/variables.scss';

.co-mobile-menu-item {
  height: 60px;
  list-style: none;
  color: $menu-item-color;
  outline: none;
  @include flexbox(flex, space-between, center);

  .anticon {
    font-size: $icon-size;
  }

  &__title {
    font-family: $menu-item-font-family;
    font-size: $mobile-menu-item-font-size;
    flex-grow: 1;
    margin-left: 20px;
  }

  @media screen and (max-height: 690px) {
    height: 50px;
  }

  @media screen and (max-height: 620px) {
    height: 45px;
  }
}