<section class="register">
  <div class="register__logo">
    <co-logo [type]="'vertical'" [color]="'default'" [width]="'90'"></co-logo>
  </div>

  <div class="register__stepper-dots">
    <co-stepper-dots [quantity]="5" [activeDot]="currentSection - 1"></co-stepper-dots>
  </div>

  <div class="register__carousel">
    <div class="register__carousel__slider"
      [ngClass]="{
        'register__carousel__slider--section-2': currentSection == 2
      }">
      <div class="register__carousel__slider__item-content">
        <co-register-name (validate)="setSectionOne($event)"></co-register-name>
      </div>
      <div class="register__carousel__slider__item-content">
        <co-register-account (validate)="setSectionTwo($event)"></co-register-account>
      </div>
    </div>
  </div>

  <footer class="register__actions">
    <co-paging-buttons
      [back]="backAvaliable"
      [next]="currentSectionValidated"
      [done]="false"
      (clickedBack)="previousSection()"
      (clickedNext)="nextSection()"
      (clickedDone)="register()">
    </co-paging-buttons>

    <div class="register__actions__login">
      Já possui uma conta? <a routerLink="/sign/in">Entre</a>
    </div>
  </footer>
</section>