@import '../../../../assets/sass-utils/variables.scss';

.co-profile-user-city-and-age {
  font-family: $profile-user-city-and-age-font-family;
  font-size: $common-text-font-size;
  color: $text-default-color;
}