<header class="co-main-header">
  <div class="co-main-header__container container">
    <div class="co-main-header__container__mobile-menu-button">
      <co-mobile-menu-button></co-mobile-menu-button>
    </div>
    <co-icon [type]="'horizontal'" [color]="'white'"></co-icon>
    <div class="co-main-header__container__menu">
      <co-menu-items [itens]="menuItems"></co-menu-items>
      <co-avatar class="co-main-header__container__menu__avatar" [size]="'small'" [genre]="'male'"></co-avatar>
    </div>
    <div class="co-main-header__container__notification-button">
      <co-notification-button [withNotification]="false"></co-notification-button>
    </div>
  </div>
</header>