<div
  class="co-selectable-item"
  (click)="selectableToggle()"
  [ngClass]="{
    'co-selectable-item--small': size == 'small',
    'co-selectable-item--big': size == 'big',
    'co-selectable-item--active': active
  }">
  <img class="co-selectable-item__icon" [src]="'../../../../assets/icons/' + icon + '.svg'">
  <img class="co-selectable-item__icon--hover" [src]="'../../../../assets/icons/' + icon + '--white.svg'">
  <div
    class="co-selectable-item__title"
    [ngClass]="{'co-selectable-item__title--active': active}">
    {{title}}
  </div>
  <div
    *ngIf="size == 'big'"
    class="co-selectable-item__hoverMessage" 
    [ngClass]="{'co-selectable-item__hoverMessage--active': active}">
    {{hoverMessage}}
  </div>
</div>