<div fullpage id="fullscreen" [options]="config" (ref)="getRef($event)" class="landing-page" (keydown)="onKeydown($event)">

  <!--Section One-->

  <div class="organic" [ngStyle]="{
    'transform': translateYMain4,
    'transition': '0.75s',
    'opacity': opacity4
  }">
    <img src="../../../assets/images/organic3.png" class="organic__1" id="organic1">
    <img src="../../../assets/images/organic4.png" class="organic__2" id="organic2">
  </div>

  <div class="divisor">
  </div>

  <div class="divisor-mask">
  </div>

  <div class="section landing-page__one">
    <header class="landing-page__one__header">
        <img src ="./../../../assets/icons/conviver_logo-icon.png" class="landing-page__one__header__logo">
        <co-button [title]="'CADASTRAR'" class="landing-page__one_header__input" routerLink="/sign/up"></co-button>
    </header>

    <div class="landing-page__one__flex">
      <div class="landing-page__one__flex__game" id="city">
        <div class="landing-page__one__flex__game__c1" id="c1"></div>
        <div class="landing-page__one__flex__game__c2" id="c2"></div>

        <div class="landing-page__one__flex__game__text-container">
          <div class="landing-page__one__flex__game__text-container__text">
              Olá! Enzo está buscando alguém para dividir apartamento com ele e decidiu testar o conviver. Você pode ajuda-lô? <br><p>Use as setas esquerda e direita para andar, e a de cima para pular.</p>
          </div>
          <a id="playBtn" class="landing-page__one__flex__game__play-btn blink">Jogar!</a>
        </div>
        <div class="landing-page__one__flex__game__overlay"></div>
      </div>

      <div class="landing-page__one__flex__logo">
          <co-logo [type]="'vertical'" [color]="'default'" [width]="'150'"> </co-logo>

          <div class="landing-page__one__flex__logo__title">
            A primeira plataforma automatizada de compartilhamento de moradias
          </div>
      </div>

      <div class="landing-page__one__flex__arrow" (click)="fullpage_api.moveTo('secondPage')">
        <div class="landing-page__one__flex__arrow__arrow-element"></div>
        <div class="landing-page__one__flex__arrow__arrow-element"></div>
      </div>
    </div>
  </div>

  <div class="section fp-noscroll landing-page__two">

    <div class="landing-page__two__container" [ngStyle]="{
    'transform': translateYMain1,
    'transition': '0.75s',
    'opacity': opacity1
  }">

      <div class="landing-page__two__container__content">
        <div class="landing-page__two__container__content__title" [ngStyle]="{
          'transform': translateYTitle1,
          'transition': '1s'
        }">Encontre a pessoa ideal para morar com você</div>

        <div class="landing-page__two__container__content__subtitle" [ngStyle]="{
          'transform': translateYSubtitle1,
          'transition': '1.25s'
        }">
        Tudo isso de forma rápida e fácil</div>

        <div class="landing-page__two__container__content__desc">
          Já pensou morar com alguém que compartilhe dos mesmos gostos que você e tenha uma
          personalidade semelhante a sua? Agora isso é possível! Basta realizar seu
          cadastro que nós te indicamos pessoas que estão buscando dividir moradia e que
          tenham mais chances de se dar bem com você.  
        </div>
      </div>
      
      <div class="landing-page__two__container__img" id="scene3" [ngStyle]="{
        'transform': translateYSubtitle,
        'transition': '1s'
      }">
        <img data-depth="0.5" src="../../../assets/images/citycell.png">
      </div>
    </div>

  </div>

  <!-- SECTION THREE -->

  <div class="section landing-page__three">
    <div class="landing-page__three__container" [ngStyle]="{
      'transform': translateYMain2,
      'transition': '0.75s',
      'opacity': opacity2
    }">

      <div class="landing-page__three__container__content">
        <div class="landing-page__three__container__content__text left" data-depth="0.8">
          <div class="landing-page__three__container__content__text__title" [ngStyle]="{
            'transform': translateYTitle2,
            'transition': '1s'
          }">
            Proprietário de imóvel
          </div>
          <div class="landing-page__three__container__content__text__subtitle" [ngStyle]="{
            'transform': translateYSubtitle2,
            'transition': '1s'
          }">
            Anuncie de forma fácil e eficiente
          </div>
          <div class="landing-page__three__container__content__text__desc">
            Conectamos o seu anúncio com pessoas interessadas em alugar. Além disso, nós <span class="text-effect">cuidamos do
            aluguel do início ao fim</span>, agendando visitas, fechando o contrato e repassando valor mensalmente.
            E o melhor de tudo, o anúncio é feito de forma rápida e totalmente gratuita. 
          </div>
        </div>
        <div class="landing-page__three__container__content__img" id="scene" [ngStyle]="{
          'transform': translateYSubtitle2,
          'transition': '1s'
        }">
          <img src="../../../assets/images/organic1.png" data-depth="0.5">
        </div>
      </div>

      <div class="landing-page__three__container__content">
        <div class="landing-page__three__container__content__img" id="scene2" [ngStyle]="{
          'transform': translateYSubtitle2,
          'transition': '1s'
        }">
          <img src="../../../assets/images/organic2.png" data-depth="0.4">
        </div>

        <div class="landing-page__three__container__content__text right">
          <div class="landing-page__three__container__content__text__title" [ngStyle]="{
            'transform': translateYTitle2,
            'transition': '1s'
          }">
            Deseja alugar?
          </div>
          <div class="landing-page__three__container__content__text__subtitle" [ngStyle]="{
            'transform': translateYSubtitle2,
            'transition': '1s'
          }">
            Encontre o imóvel ideal para você
          </div>
          <div class="landing-page__three__container__content__text__desc">
            Aqui você encontra anúncios de imóveis nas mais diversas regiões do Brasil. <span class="text-effect">Você pode
            alugar diretamente na nossa plataforma</span>, de forma rápida e sem burocracias. E tudo isso é feito de
            modo transparente e totalmente seguro. Além disso, se você busca dividir gastos, temos 
            anúncios de imóveis já ocupados e com vagas disponíveis.
          </div>
        </div>
      </div>
    </div>

    <div class="landing-page__three__divider"></div>

    <div class="landing-page__three__container2" [ngStyle]="{
      'transform': translateYMain2,
      'transition': '0.75s',
      'opacity': opacity2
    }">
      <div class="landing-page__three__container2__item">
        <div class="landing-page__three__container2__item__icon"><img src="../../../assets/images/icons/l1.png"></div>
        <div class="landing-page__three__container2__item__title">Automatizado</div>
        <div class="landing-page__three__container2__item__desc">
          Usamos um <span class="text-effect">algorito de automação</span> que analisa os dados dos usuários, inseridos no momento de 
          cadastro e forma o "match" ideal entre aqueles que possuem um perfil mais semelhante.
        </div>
      </div>

      <div class="landing-page__three__container2__item">
        <div class="landing-page__three__container2__item__icon"><img src="../../../assets/images/icons/l2.png"></div>
        <div class="landing-page__three__container2__item__title">Seguro</div>
        <div class="landing-page__three__container2__item__desc">
          Contamos com um time jurídico e contábel que é responsável por garantir a transparência e 
          segurança durante todo o processo de locação dos imóveis. <br> E <span class="text-effect">você acompanha tudo que está acontecendo</span>.
        </div>
      </div>
    </div>

    <div class="landing-page__three__container2" [ngStyle]="{
      'transform': translateYMain2,
      'transition': '0.75s',
      'opacity': opacity2
    }">
      <div class="landing-page__three__container2__item">
        <div class="landing-page__three__container2__item__icon"><img src="../../../assets/images/icons/l3.png"></div>
        <div class="landing-page__three__container2__item__title">Prático</div>
        <div class="landing-page__three__container2__item__desc">
          Você pode buscar imóveis, anunciar vagas disponíveis no seu imóvel e anunciar imóveis disponíveis
          para locação. Tudo isso através do seu celular ou computador, <span class="text-effect">de forma fácil, rápida e sem burocracias</span>.
        </div>
      </div>

      <div class="landing-page__three__container2__item">
          <div class="landing-page__three__container2__item__icon"><img src="../../../assets/images/icons/l4.png"></div>
          <div class="landing-page__three__container2__item__title">Moderno</div>
          <div class="landing-page__three__container2__item__desc">
            Usamos uma linguagem que tem tudo a ver com você. Tudo de forma clara e animada. <br> Queremos tornar a sua
            experiência de moradia mais <span class="text-effect">divertida, sustentável e prazerosa</span>.
          </div>
        </div>
    </div>


  </div>


  <div class="section landing-page__four">

    <div class="landing-page__four__divider">
    
    </div>

    <div class="landing-page__four__container" [ngStyle]="{
      'transform': translateYMain3,
      'transition': '0.75s',
      'opacity': opacity3
    }">
      <div class="landing-page__four__container__text">
        <div class="landing-page__four__container__text__title">
          Entre na lista de espera.
        </div>
        <div class="landing-page__four__container__text__subtitle">
          Cadastre seu e-mail e seja um dos primeiros a anunciar vagas e imóveis no Conviver
        </div>
      </div>
      <div class="landing-page__four__container__input">
        <co-input [placeholder]="'Seu email'" [type]="'text'" (valueChange)="setEmail($event)"></co-input>
        <button class="landing-page__four__container__input__button" (click)="registerEmail()">Enviar</button>
      </div>
      <footer class="landing-page__four__container__footer">
        <div class="landing-page__four__container__footer__text">Conviver, 2018. Todos os direitos reservados. Ícones pelo The Noun Project. </div>
        <div class="landing-page__four__container__footer__links">
          <ul>
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Termos de Uso</a></li>
            <li><a href="">Guia do Locador</a></li>
            <li><a href="">Guia do Locatário</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </div> 
</div>