@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('assets/fonts/HKGrotesk-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('assets/fonts/HKGrotesk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('assets/fonts/HKGrotesk-Medium.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('assets/fonts/HKGrotesk-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('assets/fonts/HKGrotesk-Bold.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('assets/fonts/HKGrotesk-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PS2P';
  src: url('assets/fonts/PressStart2P-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}