/* -------------------- COLORS -------------------- */

$white: #FFFFFF;
$gray-FA: #FAFAFA;
$gray-DD: #DDDDDD;
$gray-CC: #CCCCCC;
$gray-AA: #AAAAAA;
$gray-70: #707070;
$gray-33: #333333;
$black: #000000;

$primary-color: #650ECE;
$primary-color-light: #880ECE;
$secondary-color: #CE0EA8;
$tertiary-color: #00C4DF;
$tertiary-color-dark: #4f35d2;
$quaternary-color: #EA154E;
$error-color: #FF7200;
$facebook-color: #4267b2;
$google-color:#ea4335;

$landing-page-title2-color: $primary-color;
$link-color: $primary-color;
$link-hover-color: $secondary-color;
$text-default-color: $gray-70;
$border-color: $gray-DD;
$input-border-color: $gray-AA;
$divider-color: $gray-DD;
$disabled-color: $gray-DD;
$divider-context-login-text-color: $gray-AA;
$dot-bg-color: $gray-DD;
$placeholder-color: $gray-AA;
$selection-color: $primary-color-light;
$page-title-color: $gray-70;
$page-subtitle-color: $gray-70;
$title-color: $gray-70;
$common-text-color: $gray-33;
$secondary-button-title-color: $gray-70;
$secondary-button-hover-title-color: $primary-color;
$error-feedback-text-color: $error-color;
$input-error-border-color: $error-color;
$section-title-color: $primary-color;
$primary-button-title-color: $white;
$rounded-button-color: $gray-70;
$rounded-button-hover-color: $primary-color;
$menu-item-color: $white;
$advertisement-address-text-color: $gray-70;
$advertisement-additional-info-text-color: $gray-70;
$small-font-price: $gray-70;
$big-font-price: $black;
$colored-font-price: $primary-color;
$radio-style-checked-color: $primary-color;
$radio-style-checked-text-color: $white;
$boder-social-button: $gray-70;
$mobile-menu-text-color: $white;
$badge-color: $quaternary-color;
$selectable-item-bg-hover-color: $primary-color-light;
$selectable-item-title-hover-color: $white;
$selectable-item-hoverMessage-color: $white;
$establishment-item-text-color: $gray-70;
$sign-in-up-footer-text-color: $white;
$registration-divider-color: $gray-CC;
$sign-card-bg-color: $gray-FA;
$recover-password-color: $primary-color;
$landing-page-title-color: $gray-FA;
$menu-item-hover: $black;
$menu-back-color: $primary-color-light;
$number-picker-color: $gray-70;
$rule-number-color: $primary-color;
$game-font-color: $white;

/* ------------------ FONT FAMILIES ------------------ */

$font-regular: 'HKGrotesk-Regular';
$font-medium: 'HKGrotesk-Medium';
$font-bold: 'HKGrotesk-Bold';
$font-game: 'PS2P';

$page-title-font-family: $font-bold;
$title-font-family: $font-bold;
$primary-button-font-family: $font-bold;
$price-font-family: $font-bold;
$selectable-item-title-font-family: $font-bold;
$section-title-font-family: $font-bold;
$page-subtitle-font-family: $font-regular;
$common-text-font-family: $font-regular;
$secondary-button-font-family: $font-regular;
$selectable-item-description-font-family: $font-regular;
$menu-item-font-family: $font-medium;
$avatar-font-family: $font-bold;
$title-illustration-font-family: $font-bold;
$advertisement-address-font-family: $font-bold;
$advertisement-additional-info-font-family: $font-regular;
$input-font-family: $font-regular;
$error-feedback-font-family: $font-regular;
$mobile-menu-user-location-font-size: $font-regular;
$divider-context-login-font-family: $font-regular;
$establishment-item-font-family: $font-regular;
$establishment-item-type-font-family: $font-bold;
$sign-in-up-footer-font-family: $font-regular;
$profile-user-name-font-family: $font-bold;
$profile-user-city-and-age-font-family: $font-medium;
$profile-user-since-font-family: $font-regular;
$comment-date-font-family: $font-medium;
$dp-menu-font-family: $font-regular;
$number-picker-font-family: $font-bold;
$expense-name-font-family: $font-medium;

/* ------------------ FONT SIZES ------------------ */

$font-size-enormous: 30px;
$font-size-huge: 48px;
$font-size-bigbig: 32px;
$font-size-big: 24px;
$font-size-medium: 20px;
$font-size-mx: 18px;
$default-font-size: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;
$font-size-super-small: 10px;

$landing-page-item-font-size: $font-size-bigbig;
$landing-page-font-size: $font-size-huge;
$page-title-font-size: $font-size-big;
$title-font-size: $font-size-medium;
$button-title-font-size: $default-font-size;
$button-mobile-font-size: $font-size-mx;
$common-text-font-size: $default-font-size;
$avatar-font-size: $font-size-small;
$error-feedback-font-size: $font-size-small;
$page-subtitle-font-size: $font-size-small;
$input-font-size: $font-size-small;
$section-title-font-size: $font-size-extra-small;
$menu-item-font-size: $font-size-small;
$mobile-menu-item-font-size: $default-font-size;
$title-illustration-item-font-size: $font-size-small;
$establishment-item-font-size: $font-size-extra-small;
$establishment-item-type-font-size: $font-size-small;
$advertisement-address-font-size: $font-size-small;
$advertisement-additional-info-font-size: $font-size-extra-small;
$divider-context-login-font-size: $default-font-size;
$selectable-item-description-font-size: $font-size-extra-small;
$mobile-menu-user-name: $font-size-mx;
$mobile-menu-user-location: $font-size-extra-small;
$icon-size: $font-size-mx;
$sign-card-link: $font-size-small;
$sign-in-up-footer-font-size: $font-size-small;
$recover-password-font-size: $font-size-extra-small;
$profile-user-name-font-size: $font-size-enormous;
$profile-user-since-font-size: $font-size-extra-small;
$rule-number-font-size: $font-size-mx;

/* ------------------- MARGINS / PADDINGS -------------------- */

$default-margin: 7.5px;
$landing-page-padding: 8vw;

/* ----------------- BREAKPOINTS ------------------ */

$width-breakpoints: (
  'lg': 1000px,
  'md': 740px,
  'mdx': 600px,
  'mdxx': 470px,
  'sm': 414px,
  'smx': 370px
);

/* ------------------ Z-INDEXES ------------------- */

$z-indexes: (
  main-header,
  sign-card
);

/* -------------------- OTHERS -------------------- */

$gradient-direction: -30deg;
$default-border-radius: 20px;
$default-mobile-border-radius: 25px;
$default-animation-duration: 0.2s;
$title-line-height: 1.15;
