/* -------------------- COLORS -------------------- */

$white: #FFFFFF;
$gray-DD: #DDDDDD;
$gray-AA: #AAAAAA;
$gray-70: #707070;
$gray-33: #333333;
$black: #000000;

$primary-color: #650ECE;
$primary-color-light: #880ECE;
$secondary-color: #CE0EA8;
$error-color: #FF0C0C;

$border-color: $gray-DD;
$input-border-color: $gray-AA;
$divider-color: $gray-DD;
$disabled-color: $gray-DD;
$dot-bg-color: $gray-DD;
$placeholder-color: $gray-AA;
$page-title-color: $gray-70;
$page-subtitle-color: $gray-70;
$title-color: $gray-70;
$common-text-color: $gray-33;
$secondary-button-title-color: $gray-70;
$secondary-button-hover-title-color: $primary-color;
$error-feedback-text-color: $error-color;
$section-title-color: $primary-color;
$primary-button-title-color: $white;
$rounded-button-color: $gray-70;
$rounded-button-hover-color: $primary-color;
$menu-item-color: $white;
$advertisement-address-text-color: $gray-70;
$advertisement-additional-info-text-color: $gray-70;

/* ------------------ FONT FAMILIES ------------------ */

$font-regular: 'HKGrotesk-Regular';
$font-medium: 'HKGrotesk-Medium';
$font-bold: 'HKGrotesk-Bold';

$page-title-font-family: $font-bold;
$title-font-family: $font-bold;
$primary-button-font-family: $font-bold;
$price-font-family: $font-bold;
$selectable-item-title-font-family: $font-bold;
$section-title-font-family: $font-bold;
$page-subtitle-font-family: $font-regular;
$common-text-font-family: $font-regular;
$secondary-button-font-family: $font-regular;
$selectable-item-description-font-family: $font-regular;
$menu-item-font-family: $font-medium;
$avatar-font-family: $font-bold;
$title-illustration-font-family: $font-bold;
$advertisement-address-font-family: $font-bold;
$advertisement-additional-info-font-family: $font-regular;
$input-fontfamily: $font-regular;

/* ------------------ FONT SIZES ------------------ */

$font-size-big: 24px;
$font-size-medium: 20px;
$default-font-size: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

$page-title-font-size: $font-size-big;
$title-font-size: $font-size-medium;
$button-title-font-size: $default-font-size;
$common-text-font-size: $default-font-size;
$avatar-font-size: $font-size-small;
$error-feedback-font-size: $font-size-small;
$page-subtitle-font-size: $font-size-small;
$input-font-size: $font-size-small;
$section-title-font-size: $font-size-extra-small;
$menu-item-font-size: $font-size-small;
$title-illustration-item: $font-size-small;
$advertisement-address-font-size: $font-size-small;
$advertisement-additional-info-font-size: $font-size-extra-small;

/* ------------------- MARGINS -------------------- */

$default-margin: 7.5px;

/* ----------------- BREAKPOINTS ------------------ */

$width-breakpoints: (
  'lg': 910px,
  'md': 740px
);

/* -------------------- OTHERS -------------------- */

$gradient-direction: -30deg;
$default-border-radius: 20px;
$default-animation-duration: 0.2s;