@import '../../../../assets/sass-utils/variables.scss';

.co-section-title {
  font-family: $section-title-font-family;
  font-size: $section-title-font-size;
  color: $section-title-color;
  margin: 20px 0;
}