<div class="advertisement-page-container__loading" *ngIf="advertisement == undefined || owner == undefined">
  <co-loading></co-loading>
</div>
<article *ngIf="advertisement != undefined && owner != undefined" class="advertisement-page-container">
  <co-advertisement-main-section
    [photos]="advertisement.photos"
    [user]="owner"
    [creationDate]="advertisement.creationDate"
    [address]="advertisement.city + ' - ' + advertisement.state + ', ' + advertisement.country"
    [rate]="advertisement.rate">
  </co-advertisement-main-section>
  <co-section [title]="'Descrição do imóvel'">
    <div class="advertisement-page-container__description">{{advertisement.description}}</div>  
  </co-section>
  <co-section [title]="'Acomodações'">
    <co-illustration-item-list [itemsList]="advertisement.accommodations"></co-illustration-item-list>
  </co-section>
  <co-section [title]="'Eletrodomésticos'">
    <co-illustration-item-list [itemsList]="advertisement.homeAppliances"></co-illustration-item-list>
  </co-section>
  <co-section [title]="'Comodidades'">
    <co-illustration-item-list [itemsList]="advertisement.amenities"></co-illustration-item-list>
  </co-section>
  <co-section [title]="'Preço detalhado'">
    <co-detailed-price [rent]="advertisement.rent" [expenses]="advertisement.expenses"></co-detailed-price>
  </co-section>
  <co-section [title]="'Nas proximidades'">
    Não vai ter nada aqui por enquanto.
  </co-section>
  <co-section [title]="'Moradores'">
    <div class="advertisement-page-container__resident-list">
      <div class="advertisement-page-container__resident-list__owner">
        <co-avatar [photo]="owner.photo" [genre]="owner.genre" [title]="owner.firstName"></co-avatar>
      </div>
      <co-residents-list [residents]="residents"></co-residents-list>
    </div>  
  </co-section>
  <div class="advertisement-page-container__experience-reports">
    <co-section [title]="'Relatos de experiência'">
      <co-experience-reports-carousel [reports]="advertisement.experienceReports"></co-experience-reports-carousel>
    </co-section>
  </div>
  <co-advertisement-float-card
    [price]="totalPrice"
    [address]="advertisement.city + ' - ' + advertisement.state + ', ' + advertisement.country"
    [propertyType]="advertisement.propertyType"
    [numberOfResidents]="residents.length"
    [numberOfPlaces]="advertisement.numberOfPlaces"
    [restrictions]="advertisement.restrictions"
    [rate]="advertisement.rate">
  </co-advertisement-float-card>
</article>