@import '../../../assets/sass-utils/variables.scss';
@import '../../../assets/sass-utils/mixins.scss';

.advertisement-page-container {
  padding: 40px 362px 40px 0;

  &__loading {
    height: calc(100vh - 70px);
    width: 100%;
    @include flexbox(flex, center, center);
  }

  &__description {
    font-family: $common-text-font-family;
    font-size: $common-text-font-size;
    color: $common-text-color;
  }

  &__resident-list {
    display: flex;

    &__owner {
      margin-right: 40px;
    }
  }

  @include mqMaxWidth('lg') {
    padding: 30px 0 90px 0;
  }

  @include mqMaxWidth('md') {
    padding-top: 21px;
  }

  &__experience-reports {
    @include mqMaxWidth('md') {
      display: none;
    }
  }
}