@import '../../../../assets/sass-utils/mixins.scss';
@import '../../../../assets/sass-utils/variables.scss';

.co-avatar {
  outline: none;
  cursor: pointer;

  &__photo {
    margin: auto;
    background-color: gray;
    border-radius: 50%;
    background-size: cover;
    position: relative;

    &__compatibility {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: black;
      color: $compatibility-text-color;
      font-size: $compatibility-font-size;
      @include flexbox(flex, center, center);
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &--small {
      width: 40px;
      height: 40px;
    }

    &--medium {
      width: 64px;
      height: 64px;
    }

    &--big {
      width: 75px;
      height: 75px;
    }

    &--enormous {
      width: 150px;
      height: 150px;
    }

    &--with-title {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-family: $avatar-font-family;
    font-size: $avatar-font-size;
    text-align: center;
  }
}