@import '../../../../assets/sass-utils/mixins.scss';
@import '../../../../assets/sass-utils/variables.scss';

.co-input {

  &--error {
    border: 1px solid $input-error-border-color;
  }

  &--margin {
    margin: $default-margin;
  }

  @include mqMaxWidth('sm') {
    height: 50px;
    border-radius: $default-mobile-border-radius;
  }
}