@import '../../../assets/sass-utils/mixins.scss';
@import '../../../assets/sass-utils/variables.scss';

.co-paging-buttons {
  @include flexbox(flex, center, center);

  &__back-button {
    &--margin {
      margin-left: -7.5px;
      margin-right: 7.5px;
    }
  }

  &__next-button {
    width: 200px;
  }
}