@import '../../../../assets/sass-utils/variables.scss';

.co-advertisement-address {
    font-size: $advertisement-address-font-size;
    font-family: $advertisement-address-font-family;
    color: $advertisement-address-text-color;
}