@import '../../../../assets/sass-utils/variables.scss';

.co-textarea {
    resize: none;
    border-radius: 3px;
    font-family: $input-font-family;
    padding: 12px 20px;
    font-size: $input-font-size;

    &--fullWidth {
        width: 100%;
    }

    &--error {
        border: solid 1px $error-feedback-text-color;  
    }
}