<section class="co-advertise-vacancy-location">
  <co-title [title]="'Qual a localização do imóvel?'"></co-title>
  <div class="co-advertise-vacancy-location__form">
    <div class="co-advertise-vacancy-location__form__row">
      <div class="co-advertise-vacancy-location__form__row__street">
        <co-input [placeholder]="'Rua'"></co-input>
      </div>
      <div class="co-advertise-vacancy-location__form__row__number">
        <co-input [placeholder]="'Nº'"></co-input>
      </div>
    </div>
    <div class="co-advertise-vacancy-location__form__row">
      <div class="co-advertise-vacancy-location__form__row__neighborhood">
        <co-input [placeholder]="'Bairro'"></co-input>
      </div>
      <div class="co-advertise-vacancy-location__form__row__city">
        <co-input [placeholder]="'Cidade'"></co-input>
      </div>
      <div class="co-advertise-vacancy-location__form__row__state">
        <co-select [placeholder]="'Estado'"></co-select>
      </div>
    </div>
  </div>
</section>