@import '../../../assets/sass-utils/variables.scss';

.co-mobile-menu-user {
    text-align: center;

    &__insignia {
        transform: translateY(-70%);
    }

    &__name {
        margin-top: -10px;
        font: $font-size-medium $font-bold;
        color: $mobile-menu-user;
    }

    &__adress {
        margin-top: 5px;
        font: $font-size-small $font-regular;
        color: $mobile-menu-user-location;
    }
}