<div class="co-notification-item">
  <div class="co-notification-item__avatar">
    <co-avatar
      [photo]=""
      [genre]="'male'"
      [size]="'small'">
    </co-avatar>
  </div>
  <div class="co-notification-item__content">
    <div class="co-notification-item__content__message">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laborum exercitationem inventore? Deserunt, voluptates illum quia consectetur possimus aliquid praesentium itaque cum magnam. Aspernatur aperiam sequi tempora nisi commodi rerum!
    </div>
    <div class="co-notification-item__content__date">03 de Nov</div>
  </div>
</div>