<div class="co-notification-item">
  <div class="co-notification-item__avatar">
    <co-avatar
      [photo]="'assets/images/logo--profile.png'"
      [genre]="'male'"
      [size]="'small'">
    </co-avatar>
  </div>
  <div class="co-notification-item__content">
    <div class="co-notification-item__content__message">
      Agora você pode começar a procurar vagas e apartamentos disponíveis nos mais diversos lugares do Brasil.
      Você também pode anunciar uma vaga no seu imóvel e encontrar alguém que seja compatível com você.
    </div>
    <div class="co-notification-item__content__date">03 de Nov</div>
  </div>
</div>