@import '../../../../assets/sass-utils/variables.scss';

.co-profile-user-since {
  font-family: $profile-user-since-font-family;
  font-size: $profile-user-since-font-size;
  color: $text-default-color;
}