<co-main-header></co-main-header>
<article class="container">
    <co-page-header [title]="'Styleguide'" [subtitle]="'Essa página vai servir para colocarmos os componentes que forem sendo feitos.'">
    </co-page-header>

    <section>
        <co-section-title [title]="'co-illustration-item'"></co-section-title>
        <co-illustration-item [icon]="'flower'" [title]="'Vegetariano'"></co-illustration-item>
    </section>

    <section>
        <co-section-title [title]="'co-illustration-item-list'"></co-section-title>
        <co-illustration-item-list [itemsList]="[{icon: 'flower', name: 'Vegetariano'}, {icon: 'flower', name: 'Outra Flor'}]"></co-illustration-item-list>
    </section>

    <section>
        <co-section-title [title]="'co-button'"></co-section-title>
        <co-button
        [title]="'Entrar'"
        [margin]="true">
        </co-button>
        <co-button
        [title]="'Avançar'"
        [icon]="'arrow-right'"
        [margin]="true">
        </co-button>
        <co-button
        [title]="'Avançar'"
        [icon]="'arrow-right'"
        [type]="'disabled'"
        [margin]="true">
        </co-button>
        <co-button
        [title]="'Adicionar despesa'"
        [icon]="'plus'"
        [type]="'secondary'"
        [margin]="true">
        </co-button>
    </section>

    <section>
        <co-section-title [title]="'co-rounded-button'"></co-section-title>
        <co-rounded-button [icon]="'arrow-left'"></co-rounded-button>
        <co-rounded-button [icon]="'message'"></co-rounded-button>
    </section>

    <co-section-title [title]="'co-avatar'"></co-section-title>

    <section class="avatars">
        <co-avatar [size]="'small'" [genre]="'male'"></co-avatar>
        <co-avatar [title]="'Caíque'" [genre]="'male'"></co-avatar>
        <co-avatar [size]="'big'" [genre]="'female'"></co-avatar>
        <co-avatar [size]="'enormous'" [genre]="'female'"></co-avatar>
    </section>

    <co-section-title [title]="'co-input'"></co-section-title>
    <div style="width: 300px">
        <co-input [placeholder]="'Placeholder'"></co-input>
        <co-input [placeholder]="'Type password'" [type]="'password'"></co-input>
        <co-input [placeholder]="'Error'" [error]="true"></co-input>
    </div>
    
    <co-section-title [title]="'co-select'"></co-section-title>

    <co-select 
        [placeholder]="'Estado'"
        [options]="[
            {value: 'CE', label: 'CE'}, 
            {value: 'SP', label: 'SP'}, 
            {value: 'RJ', label: 'RJ'}]"
        [margin]="true">
    </co-select>

    <co-select 
        [placeholder]="'Estado'" 
        [options]="[
            {value: 'MT', label: 'MT'}, 
            {value: 'MG', label: 'MG'}, 
            {value: 'RS', label: 'RS'}]"
        [fullWidth]="true">
    </co-select>

    <co-section-title [title]="'co-radio-style'"></co-section-title>
    <co-radio-style
        [options]="[
            {label: 'Masculino', value: 'masculino'},
            {label: 'Feminino', value: 'feminino'},
            {label: 'Outro', value: 'outro'}
        ]">
    </co-radio-style>

    <co-section-title [title]="'co-rate'"></co-section-title>

    <co-rate [rate]="2.5"></co-rate>

    <co-section-title [title]="'co-divider'"></co-section-title>

    <co-divider></co-divider>

    <co-section-title [title]="'co-advertisement-address'"></co-section-title>

    <co-advertisement-address [city]="'Quixadá'" [state]="'CE'" [country]="'Brasil'"></co-advertisement-address>
    
    <co-section-title [title]="'co-advertisement-additional-info'"></co-section-title>

    <co-advertisement-additional-info [propertyType]="'Apartamento'" [numberOfPlaces]="1"></co-advertisement-additional-info>
    <co-textarea
        [placeholder]="'Nos conte mais sobre você...'"
        [fullWidth]="'true'">
    </co-textarea>

    <co-section-title [title]="'co-advertisement-thumbnail'"></co-section-title>

    <co-advertisement-thumbnail [thumbnail]="'http://s2.glbimg.com/feWuUX0z-7pLnz4wnUSaw_fpglA=/smart/e.glbimg.com/og/ed/f/original/2016/02/01/apartamento-samy-e-ricky-lapa360-01.jpg'"></co-advertisement-thumbnail>

    <co-section-title [title]="'co-stepper-dots'"></co-section-title>

    <co-stepper-dots [quantity]="5" [activeDot]="2"></co-stepper-dots>

    <co-section-title [title]="'co-title'"></co-section-title>

    <co-title [title]="'Em instantes, você poderá encontrar a pessoa perfeita para morar com você.'"></co-title>
    
    <co-price [colored]="false" [size]="'small'" [price]="550.00"></co-price>
    <co-price [colored]="false" [size]="'big'" [price]="550.00"></co-price>
    <co-price [colored]="true" [size]="'big'" [price]="550.00"></co-price>

    <co-section-title [title]="'co-advertisement'"></co-section-title>

    <co-advertisement [advertisement]="{
        thumbnail: 'http://s2.glbimg.com/feWuUX0z-7pLnz4wnUSaw_fpglA=/smart/e.glbimg.com/og/ed/f/original/2016/02/01/apartamento-samy-e-ricky-lapa360-01.jpg',
        city: 'Quixadá',
        state: 'CE',
        country: 'Brasil',
        propertyType: 'Apartamento',
        numberOfPlaces: 1,
        rate: 3,
        price: 550
    }"></co-advertisement>

    <co-section-title [title]="'co-checkbox'"></co-section-title>
    <co-checkbox [title]="'Energia'"></co-checkbox>

    <co-section-title [title]="'co-error-feedback'"></co-section-title>
    <co-error-feedback [message]="'O negoço é fazer jogo homi'" [display]="true"></co-error-feedback>

    <co-social-button [socialNetwork]="'Google'"></co-social-button>
    <co-social-button [socialNetwork]="'Facebook'"></co-social-button>
    
    <co-upload></co-upload>

    <co-section-title [title]="'co-mobile-menu-item'"></co-section-title>

    <co-mobile-menu-item [title]="'Teste'" [icon]="'message'" [notifications]=3 [url]="'teste'"></co-mobile-menu-item>
    <co-mobile-menu-item [title]="'Teste'" [icon]="'message'" [notifications]=0></co-mobile-menu-item>

    <co-section-title [title]="'co-mobile-menu-item-list'"></co-section-title>

    <co-mobile-menu-item-list [items]="[
    {
        title: 'Item 1', icon: 'message', notifications: 2, url: 'item1'
    }, {
        title: 'Item 2', icon: 'message', notifications: 7, url: 'item2'
    }]">
    </co-mobile-menu-item-list>

    <co-section-title [title]="'co-insignia'"></co-section-title>
    <co-insignia [level]="1"></co-insignia>

    <co-section-title [title]="'co-mobile-menu-user'"></co-section-title>
    <co-mobile-menu-user [photo]="'photo'" [name]="'Sebastiana Alencar'" [level]="1" [adress]="'Quixadá - Ceará, Brasil'"></co-mobile-menu-user>
    <co-section-title [title]="'co-mobile-menu'"></co-section-title>

    <co-mobile-menu [open]=true></co-mobile-menu>
    
</article>