/* You can add global styles to this file, and also import other style files */
@import './assets/sass-utils/fonts.scss';
@import './assets/sass-utils/variables.scss';
@import './assets/sass-utils/mixins.scss';

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 910px;
  margin: auto;
  padding: 0px 30px;
  box-sizing: border-box;

  @include mqMaxWidth('lg') {
    width: 100vw;
  }

  @include mqMaxWidth('md') {
    padding: 0px 21px;
  }
}