@import '../../../../assets/sass-utils/variables.scss';
@import '../../../../assets/sass-utils/mixins.scss';

.co-dot{
    border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: $dot-bg-color;
    margin: 0 12.5px;

    &--activated{
        width: 18px;
        height: 18px;
        @include menu-gradient;
    }
}