@import '../../../assets/sass-utils/variables.scss';
@import '../../../assets/sass-utils/mixins.scss';

.dot{
    border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: $dot-bg-color;

    &--activated{
        width: 18px;
        height: 18px;
        @include default-gradient(312);
    }
}